:root{
    --navy-blue: #C3353B;
    --blue-grotto: #6b135f;
    --blue-green: #048CFC;
    --baby-blue: #F3F2F2;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #BABABA;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a{
    padding: 10px;
    text-decoration: none;
    color: currentColor;
}


/*CLASSE*/

/*HEADER*/
.header{
    width: 100%;
}

/*NAVBAR*/
.navbar{
    width: auto;
    height: 50px;
    background-color: rgb(100, 0, 0);
    color: azure;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.list-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links-display{
    display: flex;
}

/*Menu Burger*/

.navbar-toggle{
    height: 100%;
    display: none;
}

.navbar-toggle > img{
    height: 100%;
}

/*INFORMATIONS*/
.header-information{
    width: 100%;
    height: 130px;
    background-color: rgb(255, 160, 160);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.element-information{
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    align-self: center;
    font-size: 20px;
}

.logo-header{
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
}

/*MAIN*/

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/*CARROUSEL*/
/*CARROUSEL*/

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.carousel-container {
    display: block;
    overflow: hidden;
    position: relative;
    width: 95vw;
    height: 35vw;
    min-height: 150px;
    margin: 0;
    padding: 0;
    color: white;
}

.carousel-text-container{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.carousel-information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 20px;
}

.carousel-title {
    width: 100%;
    position: relative;
    z-index: 3;
    font-size: calc(16px + 0.7vw);
    text-decoration: underline;
}

.carousel-text {
    margin: 0;
    font-size: calc(10px + 0.7vw);
    position: relative;
    z-index: 3;
    width: 50%;
}

.carousel-slide {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.carousel-slide.active {
    opacity: 1;
}


.carousel-slide img {
    width: auto;
    min-width: 100%;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center top;
}

.btn-slide {
    z-index: 3;
}

/*BOUTON CARROUSEL*/

input[type="checkbox"] {
    appearance: none;
}

/* Style personnalisé pour les cases à cocher */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff75;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

/* Style de la coche */
.custom-checkbox:checked::after {
    background-color: #fff;
    font-size: 50px;
    display: block;
    text-align: center;
    line-height: 20px;
    color: rgb(32, 32, 32);
}

/* Section 2 */
.gallery {
    display: grid;
    width: 100%;
    height: auto;
    background-color: rgb(131, 41, 41);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Affichage en grille responsive */
    gap: 20px;
    padding-top: 30px;
}

.item {
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item p {
    margin: 10px 0;
}

/* Section 3 */

.localization-container {
    width: 100%;
    color: rgb(255, 255, 255);
    /*background-color: var(--blue-grotto);*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-top: 100px;
}

.localization-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.localization-image {
    background-color: var(--blue-green);
    width: 500px;
    height: 250px;
    color: rgb(255, 255, 255);
}

.localization-image > img{
    max-width: 500px;
    max-height: 250px;
    width: 100%;
    height: auto;
    
}

.localization-map {
    width: 500px;
    height: 250px;
}

.localization-description{
    max-width: 750px;
}

/*FOOTER*/

.footer-list {
    width: 100%;
    height: 130px;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

.footer-list li {
    text-align: center;
    flex-grow: 1;
    margin: 0px;
    padding: 0px;
    transition: transform 0.3s;
}

.footer-list .left {
    text-align: center;
    margin: 0px;
    padding: 0px;
    transform: scale(1.1);
}

.footer-list .center {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.footer-list .larger {
    max-width: 100px;
}

.footer-list .right {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.footer-list p {
    margin: 0;
    font-size: 15px;
}

/*MEDIA TABLETTE*/


@media screen and (width < 1225px){
    /*HEADER*/

    /*NAVBAR*/

    .list-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: absolute;
        background-color: #333;
        top: 70px;
        left: 0;
        width: 0;
        height: 130px;
        opacity: 0;
        overflow: hidden;
        transition: width 1s, opacity 1s;
    }

    .list-links > li{
        padding: 2px;
    }

    .list-links.active {
        width: 100%;
        opacity: 1;
    }

    .navbar-toggle{
        display: block;
        cursor: pointer;
        transition: rotate 1s;
    }

    .navbar-toggle.active{
        rotate: 90deg;
    }
    /*CARROUSSEL*/
    .carousel-information {
        gap: 5px;
    }

    .carousel-text {
        width: 80%;
    }
    /*LOCALIZATION*/
    
    .localization-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .localization-description{
        order: -1;
    }
    .localization-image, .localization-map{
        width: 100%;
        height: auto;
    }
    .localization-image > img{
        height: auto;
    }
    
}

/*MEDIA PORTABLE*/

@media screen and (width < 768px) {

    /*MAIN*/

    /*CARROUSSEL*/

    .carousel-text-container{
        display: none;
    }

}



/* Barre de défilement */
::-webkit-scrollbar {
    width: 15px;
    /* Largeur de la barre de défilement */
}

/* Pouce de la barre de défilement */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(100, 0, 0);
    /* Couleur du pouce */
}

/* Piste de la barre de défilement */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Couleur de la piste */
}